<style>
  #titlebar {
    display: block;
    position: fixed;
    height: 32px;
    width: 100%;
    background-color: #080714;
    color: #fff;
    z-index: 9999;
  }

  .maximized #titlebar {
    width: 100%;
    padding: 0;
  }

  #titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
  }

  #titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
  }

  #window-title {
    position: fixed;
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    user-select: none;
    transform: translateY(4px);
  }

  .maximized #window-title {
    margin-left: 12px;
  }

  #window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
  }

  #window-controls {
    display: grid;
    grid-template-columns: repeat(2, 32px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-app-region: no-drag;
  }

  #window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  #window-controls .button {
    user-select: none;
  }

  #titlebar i {
    color: hsl(0, 0%, 100%);
  }

  #titlebar i:hover {
    color: hsl(0, 0%, 80%);
  }

  #titlebar i:active {
    color: hsl(0, 0%, 60%);
  }

  #close-button i:hover {
    color: hsl(0, 100%, 80%);
  }

  #close-button i:active {
    color: hsl(0, 100%, 60%);
  }

  #min-button {
    grid-column: 1;
  }
  #close-button {
    grid-column: 2;
  }

  #discord {
    -webkit-app-region: no-drag;
    width: fit-content;
    height: fit-content;
  }
</style>
<header id="titlebar">
  <div id="drag-region">
    <div id="discord">
      <div class="mt-1 ml-1 w-6 h-6 items-center inline-flex">
        <img
          id="discordPic"
          type="button"
          data-dropdown-toggle="userDropdown"
          data-dropdown-placement="bottom-start"
          class="rounded-full relative z-50 hidden"
          src=""
          alt="User dropdown"
        />
      </div>

      <div
        id="userDropdown"
        class="z-10 bg-[#865dff] hidden divide-y divide-gray-100 rounded-lg shadow-2xl bg w-44 animate-fade-right"
      >
        <div
          class="px-4 py-2 text-sm text-gray-900 dark:text-white transition-all"
        >
          <div id="discordNick" class="ml-4">LOADING...</div>
        </div>
        <div
          id="disconnectRPC"
          class="flex justify-center items-center hover:bg-[#171621] transition-all rounded-b-lg"
        >
          <i class="fa-solid fa-power-off"></i>
          <a class="block px-4 py-2 text-sm text-white">Rozłącz</a>
        </div>
      </div>
    </div>
    <div id="window-title"></div>

    <script>
      document.getElementById(
        "window-title"
      ).innerHTML = `<span>${document.title}</span>`;
    </script>

    <div id="window-controls">
      <div class="button" id="min-button">
        <i class="fa-solid fa-circle-minus"></i>
      </div>
      <div class="button" id="close-button">
        <i class="fa-solid fa-circle-xmark"></i>
      </div>
    </div>
  </div>
</header>

<script>
  const clsBtn = document.getElementById("close-button");
  const minimalizeBtn = document.getElementById("min-button");

  clsBtn.addEventListener("click", () => {
    window.electron.close();
  });
  minimalizeBtn.addEventListener("click", () => {
    window.electron.minimalize();
  });
</script>
