<div id="welcome" style="display: none">
  <div class="flex-row h-[85vh] flex justify-around w-screen">
    <div class="float-left mx-24 flex justify-center flex-col">
      <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl dark:text-white"
      >
        Better
      </h1>
      <span
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl text-[#E384FF]"
        >Launcher</span
      >
    </div>
    <div
      id="right-content "
      class="float-right justify-center text-center flex items-center w-\[100\%\] flex-col mx-24"
    >
      <p
        class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
      >
        Nowy, zajebiście szybki, launcher do minecrafta
      </p>

      <button
        type="button"
        class="text-white bg-[#FFA3FD] my-6 hover:bg-[#E384FF]/90 focus:ring-transparent focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2 hover:transition-all transition-all duration-300"
        id="openLoginMS"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 512 512"
        >
          <rect x="51.2" y="51.2" width="153.6" height="153.6" fill="#fff" />
          <rect x="256" y="51.2" width="153.6" height="153.6" fill="#fff" />
          <rect x="51.2" y="256" width="153.6" height="153.6" fill="#fff" />
          <rect x="256" y="256" width="153.6" height="153.6" fill="#fff" />
        </svg>

        Zaloguj się kontem Microsoft
      </button>
      <hr
        class="w-48 h-1 mx-auto my-6 bg-gray-100 border-0 rounded dark:bg-gray-700"
      />

      <button
        id="dropdownAccountButton"
        data-dropdown-toggle="dropdown"
        class="text-white bg-[#865DFF] hover:bg-[#6a3bf7] focus:ring-transparent focus:outline-none font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center hover:transition-all transition-all duration-300"
        type="button"
      >
        Wybierz konto
        <svg
          class="w-4 h-4 ml-2"
          aria-hidden="true"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div
        id="dropdown"
        class="z-10 hidden divide-y divide-gray-100 rounded-lg shadow w-44 bg-[#6b4acc]"
      >
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownDefaultButton"
          id="accountsList"
        >
          <li>
            <a
              id="selectAccountTrigger"
              data-mc-uuid="${account.uuid}"
              class="flex justify-center items-center cursor-pointer font-bold px-4 py-2 select-text hover:bg-[#865DFF] dark:hover:text-white hover:transition-all transition-all duration-300"
            >
              <div>
                <img
                  src="https://mc-heads.net/avatar/Majek_PL"
                  width="24"
                  alt=""
                />
              </div>
              <p class="mx-1">Majus</p>
              <div>
                <i class="fa-sharp fa-solid fa-trash"></i></div
            ></a>
          </li>
        </ul>
        <div
          onclick="dropdownAccountButton.click()"
          class="py-2"
          data-modal-target="offlineAccounts"
          data-modal-toggle="offlineAccounts"
        >
          <a
            class="block font-bold px-4 py-2 text-sm cursor-pointer text-gray-700 hover:bg-[#865DFF] dark:text-gray-200 dark:hover:text-white focus:ring-transparent hover:transition-all transition-all duration-300"
            >Dodaj konto (offline)</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="offlineAccounts"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 hidden animate-opacityAnimation left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full"
>
  <div class="relative w-[80%] h-full max-w-2xl md:h-auto">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-[#11111a] shadow-2xl">
      <!-- Modal header -->
      <div
        class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Dodaj konto offline
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="offlineAccounts"
        >
          <svg
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 h-[50vh] flex justify-center max-h-full items-center">
        <div class="flex justify-around w-full">
          <div class="flex items-center justify-between">
            <ol class="relative border-l border-gray-200 dark:border-gray-700">
              <li class="mb-10 ml-4" id="nickLengthComp">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
                ></div>
                <div class="animate-pulse" id="nickLengthAnim">
                  <time
                    id="nickLengthText"
                    class="mb-1 text-sm font-normal leading-none text-gray-400"
                    >Min. 3, max. 16 znaków</time
                  >
                </div>
              </li>
              <li class="ml-4 mb-10">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
                ></div>
                <div class="animate-pulse" id="specialCharsAnim">
                  <time
                    id="specialCharsText"
                    class="mb-1 text-sm font-normal leading-none text-gray-400"
                    >Nazwa nie może zawierać <br />
                    znaków specjalnych</time
                  >
                </div>
              </li>
              <li class="ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
                ></div>
                <div class="animate-pulse" id="premiumNickAnim">
                  <time
                    id="premiumNickText"
                    class="mb-1 text-sm font-normal leading-none text-gray-400"
                    >Nazwa nie może być <br />
                    gracza premium</time
                  >
                </div>
              </li>
            </ol>
          </div>
          <div class="flex justify-center items-center flex-col">
            <input
              type="text"
              id="nicknameInput"
              class="bg-gray-50 border border-gray-300 text-gray-900 outline-none text-sm rounded-lg ring-transparent ring-0 focus:ring-0 focus:ring-transparent block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              placeholder="Nazwa użytkownika"
              required
            />
            <button
              type="button"
              id="addAccountOffline"
              class="text-white bg-blue-700 ml-5 mt-4 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="loading"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 w-screen hidden h-screen flex items-center justify-center backdrop-blur-sm brightness-50 animate-opacityAnimation left-0 right-0 z-50 p-4 overflow-x-hidden overflow-y-hidden"
>
  <div class="flex justify-center items-center flex-col">
    <div id="loader" class="scale-[180] transition-all"></div>
    <p class="text-white text-xl" id="currentTask">Logowanie...</p>
  </div>
</div>
