<!DOCTYPE html>
<html lang="pl" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/stylesheets/style.css" />
    <script src="../assets/javascripts/jquery.js"></script>
    <link rel="stylesheet" href="../assets/stylesheets/fontawesome.css" />
    <title>BetterLauncher</title>
  </head>
  <body>
    <%- include('modules/titlebar.ejs') %>
    <div
      id="app"
      class="h-screen w-screen bg-[#191825] overflow-hidden select-none"
    >
      <div class="flex items-center h-screen w-screen justify-center flex-col">
        <div
          class="top w-[80%] h-[15vh] flex justify-center"
          style="margin-top: 48px"
        >
          <ol
            class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base"
          >
            <li
              id="screenStatusLogin"
              class="transition-all flex md:w-full items-center sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700"
            >
              <span
                class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500"
              >
                <svg
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4 mr-2 sm:w-5 sm:h-5 hidden animate-fade"
                >
                  <path
                    aria-hidden="true"
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Zaloguj <span class="hidden sm:inline-flex sm:ml-2">się</span>
              </span>
            </li>
            <li
              id="screenStatusVersion"
              class="transition-all flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700"
            >
              <span
                class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500"
              >
                <svg
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4 mr-2 sm:w-5 sm:h-5 hidden animate-fade"
                >
                  <path
                    aria-hidden="true"
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Wybierz
                <span class="hidden sm:inline-flex sm:mx-2">wersję </span>
                gry
              </span>
            </li>
            <li class="flex items-center transition-all" id="screenStatusRun">
              <svg
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 mr-2 sm:w-5 sm:h-5 hidden animate-fade"
              >
                <path
                  aria-hidden="true"
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              Uruchamianie
              <span class="hidden sm:inline-flex sm:ml-2">gry</span>
            </li>
          </ol>
        </div>
        <%- include('screens/welcome.ejs') %> <%-
        include('screens/versions.ejs') %> <%- include('screens/run.ejs') %>
      </div>
    </div>
    <script src="../assets/javascripts/lottie.js"></script>
    <script src="../assets/javascripts/flowbite.js"></script>
    <script src="../assets/javascripts/renderers/main.js"></script>

    <script>
      // This script has been stolen from the github.

      // The currently shown view container.
      let currentView;

      /**
       * Switch launcher views.
       *
       * @param {string} current The ID of the current view container.
       * @param {*} next The ID of the next view container.
       * @param {*} currentFadeTime Optional. The fade out time for the current view.
       * @param {*} nextFadeTime Optional. The fade in time for the next view.
       * @param {*} onCurrentFade Optional. Callback function to execute when the current
       * view fades out.
       * @param {*} onNextFade Optional. Callback function to execute when the next view
       * fades in.
       */
      function switchView(
        current,
        next,
        currentFadeTime = 500,
        nextFadeTime = 500,
        onCurrentFade = () => {},
        onNextFade = () => {}
      ) {
        currentView = next;
        $(`${current}`).fadeOut(currentFadeTime, async () => {
          await onCurrentFade();
          $(`${next}`).fadeIn(nextFadeTime, async () => {
            await onNextFade();
          });
        });
      }

      /**
       * Get the currently shown view container.
       *
       * @returns {string} The currently shown view container.
       */
      function getCurrentView() {
        return currentView;
      }
    </script>
    <!-- FOR TAILWIND REBUILD SCRIPT BYPASS -->
    <div class="text-[#865DFF] text-[#FFA3FD]"></div>
  </body>
</html>
